<div class="color-cont" [style.background-color]="colorRGB" [ngClass]="{lightTheme:!isDark, darkTheme:isDark}"
    *ngIf="!showShades">
    <div class="buttons-cont">
        <a class="color-button" (click)="removeColorFromParent()"><i class="fas fa-times fa-lg"></i></a>
        <a class="color-button" [ngClass]="{'locked':isLocked}" (click)="toggleLock()"><i class="fas fa-lg"
                [ngClass]="{'fa-lock':isLocked, 'fa-unlock':!isLocked}"></i></a>
        <a class="color-button" [cdkCopyToClipboard]="colorHex"><i class="fas fa-copy fa-lg"></i></a>
        <a class="color-button" (click)="toggleShades()"> <i class="fas fa-layer-group fa-lg"></i></a>
        <button class="color-button addColorBtn" (click)="addColorFromParent()" [disabled]="canAddColors"><i
                class="fas fa-plus fa-lg"></i></button>
    </div>

    <div class="color-description">
        <h2 class="color-header">{{colorHex}}</h2>
        <div class="color-options">{{colorDescription}}</div>
    </div>
</div>

<div class="shades" *ngIf="showShades">
    <div class="shadeDiv" *ngFor="let shade of shades" [style.background-color]="shade" (click)="setColor(shade)"><p>{{shade}}</p></div>

</div>