:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.header-cont {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-item {
  flex: 1;
}

.body-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;

}

.button {
  border: 1px solid #290c23;
  padding: 10px;
  border-radius: 5px;
  background-color: #611953;
  color: white;
  transition: linear 0.5s;
  outline: none;

}

.button:hover {
  background-color: #2b0e25;
}


.palette-cont {
  flex: 3;
  height: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
}
