<app-navbar></app-navbar>



<div class="control-panel-cont">
  <a class="control-btn saved-palettes-btn" mat-raised-button matTooltip="Saved Palettes: {{savedPalettes.length}}"
    (click)="toggleSavedPalettes()"><i class="fas fa-swatchbook fa-2x"></i><span
      class="saved-palletes-num"></span></a>
  <a class="control-btn refresh-btn" (click)="refreshColors()"><i class="fas fa-sync-alt fa-2x"></i></a>
  <a class="control-btn save-btn" mat-raised-button matTooltip="Save" (click)="savePalette()"><i
      class="far fa-bookmark fa-2x"></i></a>
</div>


<div class="saved-palettes" *ngIf="showSavedPalettes">
  <div *ngFor="let palette of savedPalettes" class="saved-palette" (click)="choosePalette(palette)">
    <div *ngFor="let paletteColor of palette" class="palette-color" [style.background-color]="paletteColor"></div>
  </div>
</div>


<div class="body-container">

  <div class="palette-cont" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <app-color-div *ngFor="let color of colors" [color]="color" [canAddColors]="colors.length===7" cdkDrag
      cdkDragLockAxis="x" (expandColor)="expandColor(color)" (removeColor)="removeColor(color)"
      (addColor)="addColor(color)" (changeColor)="changeColorInArray(color, $event)"></app-color-div>

  </div>
</div>
<app-background-layer [(isShown)]="showBackgroundLayer" [color]="expandedColor"></app-background-layer>